<!-- Standard -->
<form method="post" action="<?= $_SERVER['REQUEST_URI'] ?>">
	<input type="hidden" name="form_listener" 	value="user" />
	<input type="hidden" name="form_action" 	value="registerUser" ?>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_salutation" class="left inline">Anrede</label>
				</div>
				<div class="small-7 columns">
					<select id="user_register_form_salutation" name="salutation">
						<option>Herr</option>
						<option>Frau</option>
					</select>
				</div>
			</div>
		</div>

		<div class="small-12 medium-6 columns">
			<div class="row">
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_firstname" class="left inline">Vorname</label>
				</div>
				<div class="small-7 columns">
					<input type="text" id="user_register_form_firstname" name="firstname" />
				</div>
			</div>
		</div>

		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_lastname" class="left inline">Nachname</label>
				</div>
				<div class="small-7 columns">
					<input type="text" id="user_register_form_lastname" name="lastname" />
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<hr />
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_email" class="left inline">E-Mail</label>
				</div>
				<div class="small-7 columns">
					<input type="text" id="user_register_form_email" name="email" />
				</div>
			</div>
		</div>

		<div class="small-12 medium-6 columns">
			<div class="row">
				
			</div>
		</div>
	</div>

	<div class="row">
		<hr />
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_username" class="left inline">Benutzername</label>
				</div>
				<div class="small-7 columns">
					<input type="text" id="user_register_form_username" name="username" />
				</div>
			</div>
		</div>

		<div class="small-12 medium-6 columns">
			<div class="row">
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_password" class="left inline">Kennwort</label>
				</div>
				<div class="small-7 columns">
					<input type="password" id="user_register_form_password" name="password" />
				</div>
			</div>
		</div>

		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_password_repeat" class="left inline">Kennwort (Wdhlg.)</label>
				</div>
				<div class="small-7 columns">
					<input type="password" id="user_register_form_password_repeat" name="password_repeat" />
				</div>
			</div>
		</div>
	</div>

	<button name="submit" id="submit" type="submit" class="small">als Nutzer registrieren</button>
</form>