<!-- Standard -->
<div class="row">
	<div class="small-12 large-5 large-offset-7 columns">
		<form method="post" action="{ref:idcat-<?= Moraso_Config::get('shop.structure.category.cart') ?>}" class="custom">
			<input type="hidden" name="form_listener" value="morasoCartForm" />
			<input type="hidden" name="form_action" value="addArticleToCart" />
			<input type="hidden" name="idart" value="<?= $this->idart ?>" />

			<div class="row collapse">
				<div class="small-2 columns">
					<select name="qty">
						<?php for ($i = 1; $i <= 10; $i++) : ?>
							<option value="<?php echo $i; ?>"><?= $i; ?></option>
						<?php endfor; ?>
					</select>
				</div>

				<div class="small-10 columns">
					<input type="submit" class="button postfix right" value="Produkt in den Warenkorb legen" />
				</div>
			</div>
		</form>
	</div>
</div>