<!DOCTYPE html>
<html class="no-js" lang="de">
	<head>
	</head>
	<body>
		<!-- Header :: Start -->
		{{Template:Header}}
		<!-- Header :: End -->

		<!-- Content :: Start -->
		{{Template:Content}}
		<!-- Content :: End -->

		<!-- Footer :: Start -->
		{{Template:Footer}}
		<!-- Footer :: End -->
	</body>
</html>
