* {
	font-family: 'Source Sans Pro', sans-serif ! important;
}

html, body, .x-border-layout-ct {
	background-color: #2980b9;
}

.x-toolbar {
	background-image: none;
	background-color: #FFF;
}

.x-toolbar .x-btn {
	padding: 3px;
}

.x-toolbar .x-btn-over, .x-toolbar .x-btn-menu-active {
	background-color: #FFF;
}

.x-toolbar .x-btn-over {
	background-color: #FFF;
}

.x-toolbar .x-btn-over .x-btn-tl, .x-toolbar .x-btn-over .x-btn-tr, .x-toolbar .x-btn-over .x-btn-tc,
.x-toolbar .x-btn-over .x-btn-ml, .x-toolbar .x-btn-over .x-btn-mr, .x-toolbar .x-btn-over .x-btn-mc,
.x-toolbar .x-btn-over .x-btn-bl, .x-toolbar .x-btn-over .x-btn-br, .x-toolbar .x-btn-over .x-btn-bc {
	background-position: 500px 500px;
}

.x-toolbar .x-btn-menu-active .x-btn-tl, .x-toolbar .x-btn-menu-active .x-btn-tr, .x-toolbar .x-btn-menu-active .x-btn-tc,
.x-toolbar .x-btn-menu-active .x-btn-ml, .x-toolbar .x-btn-menu-active .x-btn-mr, .x-toolbar .x-btn-menu-active .x-btn-mc,
.x-toolbar .x-btn-menu-active .x-btn-bl, .x-toolbar .x-btn-menu-active .x-btn-br, .x-toolbar .x-btn-menu-active .x-btn-bc {
	background-position: 500px 500px;
}

.x-toolbar .x-btn-menu-active {
	background-color: #2980b9;
}

.x-toolbar .x-btn-menu-active .x-btn-text {
	color: #FFF;
}

.x-btn-mc em.x-btn-arrow {
	padding-right: 15px;
}

.x-menu {
	background-image: none;
	background-color: #FFF;
	border: none;
}

.x-menu-list {
	padding: 0;
}

.x-menu-list-item {
	padding: 3px;
}

.x-menu-item-active {
	background-color: #2980b9;
	background-image: none;
	margin: 0;
	border: none;
}

.x-menu-item-active a.x-menu-item {
	border: none;
	margin: 0;
	color: #FFF;
}

.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
	border-top: none;
	border-bottom: none;
}

.x-panel-body-noheader, .x-panel-mc .x-panel-body {
	border: none;
}

.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
	padding: 0;
}

.x-panel-ml, .x-panel-mc, .x-panel-mr, 
.x-panel-bl, .x-panel-bc, .x-panel-br {
	background: none;
}

#basic-statusbar {
	padding: 5px;
}

.x-toolbar div.xtb-text a {
	color: #2980b9;
	text-decoration: none;
}

.x-panel-header {
	background-image: none;
	background-color: #FFF;
	border: none;
	border-bottom: 1px solid #DDD;
	color: #2980b9;
	font-size: 14px;
	line-height: 24px;
	padding: 0 5px;
	font-weight: 400;
}

.x-panel-tl .x-panel-header {
	color: #2980b9;
	font-size: 14px;
	line-height: 24px;
	padding: 0 5px;
	font-weight: 400;
}

.x-panel-tl {
	background-image: none;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
}

.x-panel-tr {
	background-image: none;
	background-color: #FFF;
	padding: 0;
	border-bottom-color: #DDD;
}

.x-panel-tc {
	background-image: none;
}

.x-panel-body {
	border-color: #DDD;
}

.x-panel .x-panel-header-text {
	font-weight: 700;
}

.x-panel.x-panel-collapsed .x-panel-header-text{
	font-weight: 400;
}

.x-tool-toggle {
	display: none;
}

.x-tab-panel-header,
.x-tab-panel-footer {
	background: none;
	background-color: #FFF;
	border: none;
}

.x-tab-panel-header {
	padding-bottom: 0;
	border-bottom: 1px solid #DDD;
}

.x-tab-panel-footer {
	padding-top: 0;
	border-top: 1px solid #DDD;
}

ul.x-tab-strip {
	border: none;
	background: none;
}

ul.x-tab-strip-top li {
	margin: 4px 0 0 5px;
}

ul.x-tab-strip-bottom li {
	margin: 0 0 0 5px;
}

.x-tab-strip .x-tab-right,
.x-tab-strip .x-tab-left,
.x-tab-strip .x-tab-strip-inner {
	background: none;
	background-color: #2980b9;
}

.x-tab-strip .x-tab-right span.x-tab-strip-text {
	margin: 0;
	padding: 2px 0;
	color: #FFF;
}

.x-tab-strip .x-tab-strip .x-tab-right span.x-tab-strip-text,
.x-tab-strip .x-tab-strip-active .x-tab-right span.x-tab-strip-text,
.x-tab-strip .x-tab-strip-over .x-tab-right span.x-tab-strip-text {
	padding: 2px 0;
}

.x-tab-strip-bottom .x-tab-strip .x-tab-left,
.x-tab-strip-bottom .x-tab-strip-active .x-tab-left,
.x-tab-strip-bottom .x-tab-strip-over .x-tab-left {
	background: none;
	background-color: #2980b9;
	
}

.x-tab-strip-bottom .x-tab-strip .x-tab-right,
.x-tab-strip-bottom .x-tab-strip-active .x-tab-right,
.x-tab-strip-bottom .x-tab-strip-over .x-tab-right {
	background: none;
	background-color: #2980b9;
}

.x-form-field-wrap.x-form-field-trigger-wrap.x-box-item {
	margin-top: 5px;
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right {
	margin-top: inherit;
}

.x-btn-text {

}

.x-btn-text i[class*='fi-'] {
	color: #2980b9;
	margin-right: 5px;
	font-size: 18px;
	line-height: 1;
	height: 18px;
	display: inline-block;
}

.x-btn-text span {
	line-height: 18px;
	height: 18px;
	display: inline-block;
	top: -3px;
	position: relative;
}

.x-btn-menu-active .x-btn-text i[class*='fi-'] {
	color: #FFF;
}

#topToolbarMenu .x-toolbar-left-row .x-toolbar-cell {
	padding-right: 10px;
}

.x-menu.x-menu-floating.x-layer .x-menu-list .x-menu-list-item .x-menu-item {
	padding: 5px 20px 5px 5px;
}

.x-menu.x-menu-floating.x-layer .x-menu-list .x-menu-list-item .x-menu-item .x-menu-item-icon {
	display: none;
}

.x-menu.x-menu-floating.x-layer .x-menu-list .x-menu-list-item .x-menu-item .x-menu-item-text i[class*='fi-'] {
	color: #2980b9;
	display: inline-block;
	width: 24px;
	font-size: 16px;
}

.x-menu.x-menu-floating.x-layer .x-menu-list .x-menu-list-item .x-menu-item .x-menu-item-text span {
	line-height: 16px;
	height: 16px;
	display: inline-block;
	top: -2px;
	position: relative;
}

.x-menu.x-menu-floating.x-layer .x-menu-list .x-menu-list-item.x-menu-item-active .x-menu-item .x-menu-item-text i[class*='fi-'] {
	color: #FFF;
}

/* Window Style */
.moraso-style.x-window .x-window-tl,
.moraso-style.x-window .x-window-tr,
.moraso-style.x-window .x-window-tc,
.moraso-style.x-window .x-window-ml,
.moraso-style.x-window .x-window-mr,
.moraso-style.x-window .x-window-bl,
.moraso-style.x-window .x-window-br,
.moraso-style.x-window .x-window-bc {
	background: none;
	background-color: #2980b9;
}

.moraso-style.x-window .x-window-tc .x-window-header span {
	color: #FFF;
}

/* Article Dashboard */
.moraso-style.article-dashboard-widget.block_link .x-plain {
	background-color: 	#FFF;
	text-align: 		center;
	position: 			relative;
	cursor: 			pointer;
}

.moraso-style.article-dashboard-widget.block_link .x-plain i {
	color: 		#2980b9;
	font-size: 	80px;
	top: 		20px;
	position: 	relative;
}

.moraso-style.article-dashboard-widget.block_link .x-plain span {
	color: 			#2980b9;
	font-size: 		20px;
	display: 		block;
	bottom: 		15px;
	position: 		absolute;
	font-weight: 	200;
	width: 			100%;
}

.moraso-style.article-dashboard-widget.block_link.disabled .x-plain {
	cursor: default;
}

.moraso-style.article-dashboard-widget.block_link.disabled .x-plain i {
	color: #ecf0f1;
}

.moraso-style.article-dashboard-widget.block_link.disabled .x-plain span {
	color: #ecf0f1;
}

#page-edit-tab {
	padding-bottom: 5px;
}