<!-- Slider -->
<ul class="example-orbit" data-orbit data-options="timer_speed: 5000; navigation_arrows: false; slide_number: false; bullets: false; timer: true; resume_on_mouseout: true;">
	<?php foreach ($this->selectedImages as $image) : ?>
		<li>
			<?php
				$image = (object) $image;

				if ($image->subline) {
					$this->attributes->alt = $image->subline;
				}
				
				echo \Moraso\Html\Helper\Image::getHtml($image->idart, $image->filename, $this->width, $this->height, $this->render, $this->attributes);
			?>
		</li>
	<?php endforeach; ?>
</ul>