<!-- Checkout -->
			<table id="checkout_table_overview" class="large-12">
				<thead>
					<tr>
						<th colspan="3">Übersicht des Warenkorbs</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->articles as $idart => $article) : ?>
						<tr data-article-id="<?= $idart ?>">
							<td><h3><?= $article->qty ?>x</h3></td>
							<td>
								<h3><?= $article->pagetitle ?></h3>

								<p><?= $article->summary ?></p>
							</td>
							<td class="text-right"><?= $article->price_total ?></td>
						</tr>
					<?php endforeach; ?>
				</tbody>
				<tfoot>                    
					<tr>
						<td colspan="2" class="text-right">Gesamtbetrag</td>
						<td class="text-right"><?= $this->amount_total ?></td>
					</tr>
				</tfoot>
			</table>

<div class="row">
	<div class="large-12 columns">
		<a href="{ref:idart-<?= Moraso_Config::get('shop.structure.article.checkout.delivery') ?>}" class="right small button">Lieferadresse angeben &raquo;</a>
	</div>
</div>