<!-- Standard -->
<?php if ($_POST['form_action'] === 'addArticleToCart') : ?>
	<div data-alert class="alert-box">
		<?php if ($_POST['qty'] > 1) : ?>
			<?= $_POST['qty']; ?> Artikel wurden in den Warenkorb gelegt!
		<?php else : ?>
			<?= $_POST['qty']; ?> Artikel wurde in den Warenkorb gelegt!
		<?php endif; ?>
	</div>
<?php endif; ?>


<?php if (count((array) $this->articles) > 0) : ?>
	<table id="checkout_table_overview" class="large-12">
		<thead>
			<tr>
				<th>Beschreibung</th>
				<th class="text-right" width="50">Menge</th>
				<th class="text-right" width="100">Einzelpreis</th>
				<th class="text-right" width="100">Gesamtpreis</th>
				<th width="100"></th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($this->articles as $idart => $article) : ?>
				<tr data-article-id="<?= $idart ?>">
					<td>
						<h3><?= $article->pagetitle ?></h3>

						<p><?= $article->summary ?></p>
					</td>
					<td class="text-right"><?= $article->qty ?></td>
					<td class="text-right"><?= $article->price ?></td>
					<td class="text-right"><?= $article->price_total ?></td>
					<td class="text-right">
						<form method="post" action="<?= Moraso_Util::getCurrentUrl() ?>">
							<input type="hidden" name="form_listener" 	value="morasoCartForm" />
							<input type="hidden" name="form_action" 	value="deleteArticleFromCart" />
							<input type="hidden" name="idart" 			value="<?= $idart ?>" ?>

							<input type="submit" class="tiny button" value="entfernen" />
						</form>
					</td>
				</tr>
			<?php endforeach; ?>
		</tbody>
		<tfoot>                    
			<tr>
				<td colspan="3" class="text-right">Gesamtsumme</td>
				<td class="text-right"><?= $this->amount_total ?></td>
				<td class="text-right"><small>(Brutto)</small></td>
			</tr>
			<?php foreach ($this->amount_total_tax as $tax_class => $tax_value) : ?>
				<tr>
					<td colspan="3" class="text-right">enthaltende <?= str_replace('.', ',', $tax_class) ?> % MwSt.</td>
					<td class="text-right"><?= $tax_value ?></td>
					<td></td>
				</tr>
			<?php endforeach; ?>
			<tr>
				<td colspan="3" class="text-right">Gesamtsumme ohne MwSt.</td>
				<td class="text-right"><?= $this->amount_total_without_tax ?></td>
				<td class="text-right"><small>(Netto)</small></td>
			</tr>
		</tfoot>
	</table>
<?php else: ?>
	<p>Leider haben Sie noch keine Produkte in Ihren Warenkorb gelegt.</p>
<?php endif; ?>

<?php if (count((array) $this->articles) > 0) : ?>
	<a href="{ref:idcat-<?= Moraso_Config::get('shop.structure.category.checkout') ?>}" class="right small button">zur Kasse &raquo;</a>
<?php endif; ?>