<!-- Standard -->
<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Mitgliedsnummer</th>
			<th>Vereinsbeitritt</th>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($this->rows as $row) : ?>
			<tr>
				<td><?= $row->id ?></td>
				<td><?= $row->mitgliedsnummer ?></td>
				<td><?= $row->vereinsbeitritt ?></td>
			</tr>
		<?php endforeach; ?>
	</tbody>
	<tr>
	</tr>
</table>