<!-- Standard -->
<form method="post" action="<?= $_SERVER['REQUEST_URI'] ?>">
	<input type="hidden" name="form_listener" 	value="user" />
	<input type="hidden" name="form_action" 	value="changePersonalData" ?>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_salutation" class="left inline">Anrede</label>
				</div>
				<div class="small-7 columns">
					<select id="user_register_form_salutation" name="salutation">
						<option <?= $this->salutation === 'Herr' ? 'selected="selected"' : '' ?>>Herr</option>
						<option <?= $this->salutation === 'Frau' ? 'selected="selected"' : '' ?>>Frau</option>
					</select>
				</div>
			</div>
		</div>

		<div class="small-12 medium-6 columns">
			<div class="row">
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_firstname" class="left inline">Vorname</label>
				</div>
				<div class="small-7 columns">
					<input type="text" id="user_register_form_firstname" name="firstname" value="<?= $this->firstname ?>" />
				</div>
			</div>
		</div>

		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_lastname" class="left inline">Nachname</label>
				</div>
				<div class="small-7 columns">
					<input type="text" id="user_register_form_lastname" name="lastname" value="<?= $this->lastname ?>" />
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<hr />
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_email" class="left inline">E-Mail</label>
				</div>
				<div class="small-7 columns">
					<input type="text" id="user_register_form_email" name="email" value="<?= $this->email ?>" />
				</div>
			</div>
		</div>

		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="row">
					<div class="small-5 columns">
						<label for="user_register_form_customerid" class="left inline">Kundennummer</label>
					</div>
					<div class="small-7 columns">
						<input type="text" id="user_register_form_customerid" name="customerid" value="<?= $this->customerid ?>" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<hr />
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_username" class="left inline">Benutzername</label>
				</div>
				<div class="small-7 columns">
					<input type="text" id="user_register_form_username" name="username" value="<?= $this->username ?>" />
				</div>
			</div>
		</div>

		<div class="small-12 medium-6 columns">
			<div class="row">
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_password" class="left inline">Kennwort</label>
				</div>
				<div class="small-7 columns">
					<input type="password" id="user_register_form_password" name="password" value="" autocomplete="off" />
				</div>
			</div>
		</div>

		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-5 columns">
					<label for="user_register_form_password_repeat" class="left inline">Kennwort (Wdhlg.)</label>
				</div>
				<div class="small-7 columns">
					<input type="password" id="user_register_form_password_repeat" name="password_repeat" value="" autocomplete="off" />
				</div>
			</div>
		</div>
	</div>

	<button name="submit" id="submit" type="submit" class="small">persönliche Daten ändern</button>
</form>