<!-- Standard -->
<?php if (!empty($this->author->google_plus_id)) : ?>
<a rel="author" target="_blank" href="https://plus.google.com/<?= $this->author->google_plus_id ?>"><?= $this->author->name ?></a>
<?php else : ?>
<span><?= $this->author->name ?></span>
<?php endif; ?>
