<!-- Standard -->
<?php if ($this->loggedIn) : ?>
	<a  class="alert small expand button" href="<?= $_SERVER['REQUEST_URI'] ?>?auth_system=moraso&logout">"<?= $this->salutation ?> <?= $this->lastname ?>" abmelden</a>
<?php else : ?>
	<form method="post" action="<?= $_SERVER['REQUEST_URI'] ?>">
		<div class="row">
	 		<div class="small-4 columns">
	 			<label for="login" class="left inline">Benutzername</label>
	 		</div>
	 		<div class="small-8 columns">
	 			<input type="text" id="login" name="username" />
	 		</div>
	 	</div>

	 	<div class="row">
	 		<div class="small-4 columns">
	 			<label for="password" class="left inline">Kennwort</label>
	 		</div>

	 		<div class="small-8 columns">
	 			<input type="password" id="password" name="password" />
	 		</div>
	 	</div>

		<button name="submit" id="submit" type="submit" class="success small expand login">Anmelden</button>
	</form>

	<a href="{ref:idart-<?= Moraso_Config::get('account.register') ?>}" class="secondary tiny expand button">als Nutzer registrieren</a>
<?php endif; ?>