<form class="checkout" method="post" action="{ref:idart-<?= Moraso_Config::get('shop.structure.article.checkout.overview') ?>}" data-abide>
	<input type="hidden" name="form_listener" 	value="morasoCartForm" />
	<input type="hidden" name="form_action" 	value="addFormData" />
	<input type="hidden" name="form_data_type" 	value="payment" />

	<div class="row">
		<div class="large-4 columns">
			<label>Zahlungsmittel <small>Pflichtfeld</small></label>
			<select name="method" required>
				<option value="" SELECTED DISABLED>Bitte wählen</option>
				<option value="cash"<?php echo $this->data['method'] === 'cash' ? ' SELECTED' : ''; ?>>Vorkasse</option>
				<option value="paypal"<?php echo $this->data['method'] === 'paypal' ? ' SELECTED' : ''; ?>>PayPal</option>
				<option value="creditcard"<?php echo $this->data['method'] === 'creditcard' ? ' SELECTED' : ''; ?>>Kreditkarte</option>
			</select>
			<small class="error">Bitte wählen Sie ein gewünschtes Zahlungsmittel aus!</small>
		</div>
	</div>

	<div class="row">
		<div class="small-6 columns">
			<a href="{ref:idart-<?= Moraso_Config::get('shop.structure.article.checkout.billing') ?>}" class="small button">&laquo; zurück zur Rechnungsadresse</a>
		</div>

		<div class="small-6 text-right columns">
			<input type="submit" class="small button" value="Daten überprüfen &raquo;" />
		</div>
	</div>
</form>