<!--- Shop / Produkt -->
<script type="application/x-moraso" src="HTML.Content:Content"></script>

<script type="application/x-moraso" src="Cart.Product.Info:Produktdetail"></script>

<script type="application/x-moraso" src="Cart.Product.Add:Kaufen"></script>

<h3>Kommentare</h3>
<script type="application/x-moraso" src="Comments.Saved:SavedComment"></script>

<script type="application/x-moraso" src="Comments.Write:WriteComment"></script>

<script type="application/x-moraso" src="Comments.Read:ReadComments"></script>