<!-- Standard -->
<?= $this->salutation ?><br />
<?= $this->firstname ?> <?= $this->lastname ?><br />
<?= $this->email ?><br />
<br />
<strong>Kundennummer:</strong> <?= $this->customerid ?><br />
<strong>persönliche Kategorie:</strong> <?= $this->user_cat ?>