<!-- Standard -->
<form data-abide method="post" action="<?= Aitsu_Util::getCurrentUrl() ?>" class="panel">
	<input type="hidden" name="action" value="addComment" />
	<input type="hidden" name="parent_node_id" value="<?= $this->parent_node_id ?>" />
	<input type="hidden" name="spam_protect" value="<?= base64_encode(time()) ?>" />
	<input type="hidden" name="spam_protect_time" value="<?= base64_encode($this->spam_protect_time) ?>" />
	<input type="hidden" name="spam_protect_hash" value="<?= crypt(base64_encode(time()) . base64_encode($this->spam_protect_time)) ?>" />

	<div class="row">
		<div class="large-12 columns">
			<label for="comment_author_<?= $this->parent_node_id ?>"><?= Aitsu_Translate::_('Name') ?> <small><?= Aitsu_Translate::_('required') ?></small></label>
			<input type="text" name="author" id="comment_author_<?= $this->parent_node_id ?>" required />
			<small class="error"><?= Aitsu_Translate::_('Name is required!') ?></small>
		</div>

		<div class="large-12 columns">
			<label for="comment_author_mail_<?= $this->parent_node_id ?>"><?= Aitsu_Translate::_('E-Mail') ?></label>
			<input type="text" name="author_mail" id="comment_author_mail_<?= $this->parent_node_id ?>" />
		</div>

		<div class="large-12 columns">
			<label for="comment_author_url_<?= $this->parent_node_id ?>"><?= Aitsu_Translate::_('Homepage') ?></label>
			<input type="text" name="author_url" id="comment_author_url_<?= $this->parent_node_id ?>" />
		</div>

		<div class="large-12 columns">
			<label for="comment_comment_<?= $this->parent_node_id ?>"><?= Aitsu_Translate::_('Comment') ?> <small><?= Aitsu_Translate::_('required') ?></small></label>
			<textarea name="comment" id="comment_comment_<?= $this->parent_node_id ?>" required></textarea>
			<small class="error"><?= Aitsu_Translate::_('Comment is required!') ?></small>
		</div>

		<div class="large-12 columns">
			<input type="radio" name="free_field_1" value="Wert 1" id="comment_free_field_1_<?= $this->parent_node_id ?>_1">
			<label for="comment_free_field_1_<?= $this->parent_node_id ?>_1">Wert 1</label>

			<input type="radio" name="free_field_1" value="Wert 2" id="comment_free_field_1_<?= $this->parent_node_id ?>_2">
			<label for="comment_free_field_1_<?= $this->parent_node_id ?>_2">Wert 2</label>

			<input type="radio" name="free_field_1" value="Wert 3" id="comment_free_field_1_<?= $this->parent_node_id ?>_3">
			<label for="comment_free_field_1_<?= $this->parent_node_id ?>_3">Wert 3</label>
		</div>

		<div class="large-12 columns">
			<input type="submit" class="small button" value="<?= Aitsu_Translate::_('comment') ?>" />
		</div>
	</div>
</form>