<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="de" ><![endif]-->
<html class="no-js" lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>moraso | Administrationsoberfläche</title>

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="<?= $this->baseUrl('/css/foundation.min.css') ?>">
	<link rel="stylesheet" href="<?= $this->baseUrl('/css/foundation-icons.css') ?>">
	<link rel="stylesheet" href="<?= $this->baseUrl('/css/moraso/style.css') ?>">

	<script src="<?= $this->baseUrl('/js/vendor/modernizr.js') ?>"></script>
</head>
<body>

	<div id="loginModal" class="small reveal-modal" data-reveal>
		<h1 class="text-center">Administrationsoberfläche</h1>
		
		<form method="post" action="" id="login_form">
			<div class="row">
				<div class="small-12 medium-6 columns">
					<div class="row collapse">
						<div class="small-2 columns">
							<span class="prefix"><i class="fi-torso"></i></span>
						</div>
						<div class="small-10 columns">
							<input type="text" placeholder="Benutzername" name="login" />
						</div>
					</div>
				</div>

				<div class="small-12 medium-6 columns">
					<div class="row collapse">
						<div class="small-2 columns">
							<span class="prefix"><i class="fi-lock"></i></span>
						</div>
						<div class="small-10 columns">
							<input type="password" placeholder="Kennwort" name="password" />
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="small-12 medium-6 columns">
					<div id="extra_security" class="row collapse">
						<div class="small-2 columns">
							<span class="prefix"><i class="fi-thumbnails"></i></span>
						</div>
						<div class="small-10 columns">
							<input type="password" placeholder="zusätzliche Authentifizierung" name="salt" />
						</div>
					</div>
				</div>

				<div class="small-12 medium-6 columns">
					<input type="submit" value="Anmelden" class="small-12 button" id="login_form_submit_button" />
				</div>
			</div>

			<div class="row">
				<div class="small-12 columns">
					<div id="progressBarRow" class="hide">
						<div id="progress" class="progress success">
							<span class="text-center meter" style="width: 0%">
								<span class="success" style="display: none;">Benutzername und Kennwort sind korrekt!</span>
								<span class="failure" style="display: none;">Benutzername oder Kennwort sind nicht korrekt!</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div class="row">
			<div class="small-12 columns">
				<?php
					$status = json_decode(file_get_contents(APPLICATION_PATH . '/status.json'));
				?>
				<p class="text-center">moraso CMS v<?= $status->version->major ?>.<?= $status->version->minor ?>.<?= $status->version->revision ?>-<?= $status->version->build ?> &mdash; Mit <i class="fi-heart"></i> programmiert in Hoya / Weser<br />Basierend auf dem aitsu CMSF 2.7.1-4</p>
			</div>
		</div>
	</div>

	<div id="loading"></div>

	<script src="<?= $this->baseUrl('/js/vendor/jquery.js') ?>"></script>
	<script src="<?= $this->baseUrl('/js/foundation.min.js') ?>"></script>
	<script src="<?= $this->baseUrl('/js/jquery.color.js') ?>"></script>
	<script src="<?= $this->baseUrl('/js/moraso/spin.min.js') ?>"></script>
	<script src="<?= $this->baseUrl('/js/moraso/jquery.spin.js') ?>"></script>
	<script src="<?= $this->baseUrl('/js/moraso/login.js') ?>"></script>
</body>
</html>