<!-- Standard -->
<header>
	<div id="info-bar">
		<div class="row">
			<div class="small-12 columns">
				<ul class="right inline-list sm-list">
					<li><a href="#">Facebook</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="nav-bar">
		<div class="row">
			<div class="small-12 medium-4 logo columns">
				<a href="/">
					<img src="https://www.small-improvements.com/images/dummy-logo.png" alt="Logo">
				</a>
			</div>

			<div class="small-12 medium-8 columns">
				<nav class="top-bar" data-topbar>
					<ul class="title-area">
						<li class="name"></li>
						<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
					</ul>

					<section class="top-bar-section">
						<script type="application/x-moraso" src="Navigation:main"></script>
					</section>
				</nav>
			</div>
		</div>
	</div>
</header>

<div id="headline-bar">
	<div class="row">
		<div class="small-12 columns">
			<script type="application/x-moraso" src="Navigation.BreadCrumb:BC"></script>
		</div>
	</div>
</div>