<div class="row">
			<div class="large-4 columns">
				<h2>Lieferadresse</h2>
				<?php if (isset($this->properties['delivery']['business']) && !empty($this->properties['delivery']['business'])) : ?>
					<?= $this->properties['delivery']['business'] ?><br />
				<?php endif; ?>
				<?php echo $this->properties['delivery']['title']; ?><br />
				<?php echo $this->properties['delivery']['name']['first']; ?> <?php echo $this->properties['delivery']['name']['last']; ?><br />
				<?php echo $this->properties['delivery']['street']; ?> <?php echo $this->properties['delivery']['housenumber']; ?><br />
				<?php echo $this->properties['delivery']['postal_code']; ?> <?php echo $this->properties['delivery']['city']; ?><br />
				<?php echo $this->properties['delivery']['country']; ?>
			</div>

			<div class="large-4 columns">
				<h2>Rechnungsadresse</h2>

				<?php if (isset($this->properties['billing']['same_than_delivery']) && $this->properties['billing']['same_than_delivery'] === 'on') : ?>
					<p>Rechnungsadresse entspricht Versandadresse</p>
				<?php else: ?>
					<?php if (isset($this->properties['billing']['business']) && !empty($this->properties['billing']['business'])) : ?>
						<?= $this->properties['billing']['business'] ?><br />
					<?php endif; ?>
					<?php echo $this->properties['billing']['title']; ?><br />
					<?php echo $this->properties['billing']['name']['first']; ?> <?php echo $this->properties['billing']['name']['last']; ?><br />
					<?php echo $this->properties['billing']['street']; ?> <?php echo $this->properties['billing']['housenumber']; ?><br />
					<?php echo $this->properties['billing']['postal_code']; ?> <?php echo $this->properties['billing']['city']; ?><br />
					<?php echo $this->properties['billing']['country']; ?>
				<?php endif; ?>
			</div>

			<div class="large-4 columns">
				<h2>Zahlungsweise</h2>
				<?php
				switch ($this->properties['payment']['method']) {
					case 'paypal':
						echo 'PayPal';
						break;
					case 'creditcard':
						echo 'Kreditkarte';
						break;
					default:
						echo 'Vorkasse';
				}
				?>
			</div>
</div>

		<h2>Artikelübersicht</h2>
		<table id="checkout_table_overview" class="large-12">
			<thead>
				<tr>
					<th>Beschreibung</th>
					<th width="50">Artikelnummer</th>
					<th class="text-right" width="50">Menge</th>
					<th class="text-right" width="100">Einzelpreis</th>
					<th class="text-right" width="100">Gesamtpreis</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($this->articles as $article) : ?>
					<tr>
						<td><?php echo $article->pagetitle ?></td>
						<td><?php echo $article->sku ?></td>
						<td class="text-right"><?php echo $article->qty ?></td>
						<td class="text-right"><?php echo $article->price ?></td>
						<td class="text-right"><?php echo $article->price_total ?></td>
					</tr>
				<?php endforeach; ?>
				 <tr>
					<td><?= Aitsu_Translate::_('Shipping costs') ?></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="text-right"><?= $this->shippingCosts ?></td>
				</tr>
			</tbody>
			<tfoot>                    
				<tr>
					<td colspan="4" class="text-right">Gesamtsumme</td>
					<td class="text-right"><?= $this->amount_total ?></td>
				</tr>
				<?php foreach ($this->amount_total_tax as $tax_class => $tax_value) : ?>
					<tr>
						<td colspan="4" class="text-right">enthaltende <?= $tax_class ?>% MwSt.</td>
						<td class="text-right"><?= $tax_value ?></td>
					</tr>
				<?php endforeach; ?>
				<tr>
					<td colspan="4" class="text-right">Gesamtsumme ohne MwSt.</td>
					<td class="text-right"><?= $this->amount_total_without_tax ?></td>
				</tr>
			</tfoot>
		</table>

		<form method="post" id="doCheckout" action="<?php echo $this->checkoutUrl; ?>" data-abide>
			<?php foreach ($this->hiddenFields as $key => $value) : ?>
				<input type="hidden" name="<?php echo $key; ?>" value="<?php echo $value; ?>" />
			<?php endforeach; ?>

			<div class="row">
				<div class="small-12 columns">
					<label for="checkout_checkbox_datenschutz"><input type="checkbox" id="checkout_checkbox_datenschutz" required /> Ich habe die <a href="#">Datenschutzbestimmungen</a> gelesen und akzeptiert</label>
				</div>
			</div>

			<div class="row">
				<div class="small-12 columns">
					<label for="checkout_checkbox_agb"><input type="checkbox" id="checkout_checkbox_agb" required /> Ich habe die <a href="#">AGB</a> gelesen und akzeptiert</label>
				</div>
			</div>

			<div class="row">
				<div class="small-6 columns">
					<a href="{ref:idart-<?= Moraso_Config::get('shop.structure.article.checkout.payment') ?>}" class="small button">&laquo; zurück zur Wahl des Zahlungsmittels</a>
				</div>

				<div class="small-6 text-right columns">
					<input type="submit" class="small button" id="doCheckoutButton" value="jetzt kostenpflichtig bestellen &raquo;" />
				</div>
			</div>
		</form>

<div id="checkoutProzessing">
	<h2>Ihre Bestellung wird verarbeitet...</h2>
</div>