<!-- Standard -->
<script type="application/x-moraso" src="HTML.Content:Content"></script>

<script type="application/x-moraso" src="Comments.Saved:SavedComment"></script>

<script type="application/x-moraso" src="Comments.Write:WriteComment"></script>

<script type="application/x-moraso" src="Comments.Read:ReadComments"></script>