var dashboard = Ext.getCmp('dashboard');

var welcomeScreen = new Ext.Panel({
    id: 'welcomeScreen',
    title: 'Herzlich willkommen',
    items: [{
        html: "<p><?= $this->greeting ?> <?= $this->salutation ?> <?= $this->lastname ?>,<br /><br />aktuell <?= $this->todos ?> für Sie hinterlegt.</p>",
        xtype: "panel",
        bodyStyle: 'padding: 10px'
    }],
    bbar: {
    <?php if (!empty($this->todos)) : ?>
        items: [{
            ltip: '<?php echo Aitsu_Translate::translate('Open todo list'); ?>',
            iconCls: 'tm-todo',
            handler: function(b, e) {
                Ext.aitsu.load(['plugin/Aitsu/Todo/Generic'], null, {ajax: 1});
            }
        }]
    <?php endif; ?>
    }
});

dashboard.add({
    columnWidth: 1/3,
    baseCls:'x-plain',
    bodyStyle:'padding:0 5px 5px 0',
    items: {
        unstyled: true,
        height: 200,
        layout: 'fit',
        items: welcomeScreen
    }
});