<!-- Standard (mit Sidebar) -->
<div id="page_wrapper" class="row">
	<article class="small-12 medium-8 columns">
		<script type="application/x-moraso" src="Article.Pagetitle:Seitentitel">
			tag = h1
		</script>

		{{Template:Content_Article}}
	</article>

	<aside class="small-12 medium-4 columns">
		{{Template:Content_Sidebar}}
	</aside>
</div>