<!--- Startseite -->
<script type="application/x-moraso" src="Image:Slider">
	template 	= slider
	width 		= 1920
	height 		= 300
	render 		= 2

	configurable.all = true

	configurable.height.selects.names.1 	= "250px Höhe"
	configurable.height.selects.values.1 	= 250
	configurable.height.selects.names.2 	= "350px Höhe"
	configurable.height.selects.values.2 	= 350
</script>

<div class="row">
	<div class="small-12 text-center columns">
		<script type="application/x-moraso" src="Article.Pagetitle:Seitentitel">
			tag = h1
		</script>
	</div>
</div>
