<!-- Standard (ohne Sidebar)-->
<div id="page_wrapper" class="row">
	<article class="small-12 columns">
		<script type="application/x-moraso" src="Article.Pagetitle:Seitentitel">
			tag = h1
		</script>
	
		{{Template:Content_Article}}
	</article>
</div>