<!-- Standard -->
<?php foreach ($this->langs as $lang) : ?>
    <?php if ($lang->current) : ?>
        <a class="active" href="<?php echo $lang->url; ?>"><?= $lang->longname ?></a>
    <?php else : ?>
        <a href="<?php echo $lang->url; ?>"><?= $lang->longname ?></a>
    <?php endif; ?>
<?php endforeach; ?>
