<form class="checkout" method="post" action="{ref:idart-<?= Moraso_Config::get('shop.structure.article.checkout.billing') ?>}" data-abide>
	<input type="hidden" name="form_listener" 	value="morasoCartForm" />
	<input type="hidden" name="form_action" 	value="addFormData" />
	<input type="hidden" name="form_data_type" 	value="delivery" />

		<div class="row">
			<div class="small-8 columns">
				<label>Unternehmen <small>Pflichtfeld</small></label>
				<input type="text" name="business" value="<?php echo $this->data['business']; ?>" required pattern="alpha_numeric" />
				<small class="error">Wir beliefern ausschließlich Unternehmen.</small>
			</div>
		</div>

			<div class="row">
				<div class="small-4 columns">
					<label>Anrede <small>Pflichtfeld</small></label>
					<select name="title" required>
						<option value="" SELECTED DISABLED>Bitte wählen</option>
						<option<?php echo isset($this->data['title']) && $this->data['title'] === 'Herr' ? ' SELECTED' : ''; ?>>Herr</option>
						<option<?php echo isset($this->data['title']) && $this->data['title'] === 'Frau' ? ' SELECTED' : ''; ?>>Frau</option>
					</select>
					<small class="error">Bitte wählen Sie eine Anrede aus!</small>
				</div>

				<div class="small-4 columns">
					<label>Vorname <small>Pflichtfeld</small></label>
					<input type="text" name="name[first]" value="<?php echo $this->data['name']['first']; ?>" required pattern="alpha" />
					<small class="error">Bitte wählen Sie eine Anrede aus!</small>
				</div>

				<div class="small-4 columns">
					<label>Nachname <small>Pflichtfeld</small></label>
					<input type="text" name="name[last]" value="<?php echo $this->data['name']['last']; ?>" required pattern="alpha" />
					<small class="error">Bitte wählen Sie eine Anrede aus!</small>
				</div>
			</div>

			<div class="row">
				<div class="small-8 columns">
					<label>Strasse <small>Pflichtfeld</small></label>
					<input type="text" name="street" value="<?php echo $this->data['street']; ?>" required pattern="alpha_numeric" />
					<small class="error">Für eine korrekte Rechnungsstellung wird die Angabe der Strasse benötigt!</small>
				</div>

				<div class="small-4 columns">
					<label>Hausnummer <small>Pflichtfeld</small></label>
					<input type="text" name="housenumber" value="<?php echo $this->data['housenumber']; ?>" required pattern="alpha_numeric" />
					<small class="error">Für eine korrekte Rechnungsstellung wird die Angabe der Strasse benötigt!</small>
				</div>
			</div>

			<div class="row">
				<div class="small-3 columns">
					<label>Postleitzahl <small>Pflichtfeld</small></label>
					<input type="text" name="postal_code" value="<?php echo $this->data['postal_code']; ?>" required pattern="number" />
					<small class="error">Für eine korrekte Rechnungsstellung wird die Angabe der Strasse benötigt!</small>
				</div>

				<div class="small-5 columns">
					<label>Ort <small>Pflichtfeld</small></label>
					<input type="text" name="city" value="<?php echo $this->data['city']; ?>" required pattern="alpha_numeric" />
					<small class="error">Für eine korrekte Rechnungsstellung wird die Angabe der Strasse benötigt!</small>
				</div>

				<div class="small-4 columns">
					<label>Land <small>Pflichtfeld</small></label>
					<select name="country" required>
						<option value="" SELECTED DISABLED>Bitte wählen</option>
						<option value="Deutschland"<?php echo $this->data['country'] === 'Deutschland' ? ' SELECTED' : ''; ?>>Deutschland</option>
						<option value="Schweiz"<?php echo $this->data['country'] === 'Schweiz' ? ' SELECTED' : ''; ?>>Schweiz</option>
						<option value="Österreich"<?php echo $this->data['country'] === 'Österreich' ? ' SELECTED' : ''; ?>>Österreich</option>
					</select>
					<small class="error">Für eine korrekte Rechnungsstellung wird die Angabe des Landes benötigt!</small>
				</div>
			</div>

			<div class="row">
				<div class="small-4 columns">
					<label>Telefonnummer</label>
					<input type="text" name="telephone" value="<?php echo $this->data['telephone']; ?>" />
				</div>

				<div class="small-4 columns">
					<label>Fax</label>
					<input type="text" name="fax" value="<?php echo $this->data['fax']; ?>" />
				</div>

				<div class="small-4 columns">
					<label>E-Mail <small>Pflichtfeld</small></label>
					<input type="text" name="email" value="<?php echo $this->data['email']; ?>" required pattern="email" />
					<small class="error">Für eine korrekte Rechnungsstellung wird die Angabe der Strasse benötigt!</small>
				</div>
			</div>

	<div class="row">
		<div class="small-6 columns">
			<a href="{ref:idcat-<?= Moraso_Config::get('shop.structure.category.checkout') ?>}" class="small button">&laquo; zurück</a>
		</div>

		<div class="small-6 text-right columns">
			<input type="submit" class="small button" value="Rechnungsadresse auswählen &raquo;" />
		</div>
	</div>
</form>