Ext.getCmp('viewport-east').setVisible(false);

var center = Ext.getCmp('viewport-center');
center.removeAll();

var articleEditIndex = new Ext.Container({
	id: 		'article-edit-index',
	unstyled: 	true,
	layout: {
		type: 	'vbox',
		align: 	'stretch'
	}
});

center.add(articleEditIndex);

var articlePluginPanel = new Ext.TabPanel({
	id: 				'page-edit-tab',
	resizeTabs: 		false,
	minTabWidth: 		115,
	tabWidth: 			135,
	enableTabScroll: 	true,
	defaults: {
		autoScroll: 		true
	},
	tabPosition: 		'top',
	border: 			false,
	flex: 				1
});

var articleDashboard = new Ext.Container({
	id: 		'article-dashboard',
	unstyled: 	true,
	layout: {
		type: 	'column'
	},
	height: 	150
});

articleEditIndex.add(articlePluginPanel);
articleEditIndex.add(articleDashboard);

var widgetArticleEdit = new Ext.BoxComponent({
	id: 	'widget-edit-article',
	html: 	'<i class="fi-pencil"></i><span>Inhalt bearbeiten</span>',
	listeners: {
		render: function(component) {
			Ext.get('widget-edit-article').on('click',function() {
				Ext.aitsu.load(['<?= $this->url(array('namespace' => 'aitsu', 'area' => 'article', 'plugin' => 'edit', 'paction' => 'index'), 'plugin') ?>'], null, {
					idart: <?= $this->art->idart ?>
				});
			});
		}
	}
});

articleDashboard.add({
	columnWidth: 	1/3,
	baseCls:		'x-plain',
	bodyStyle: 		'padding:0 5px 5px 0',
	cls: 			'moraso-style article-dashboard-widget block_link',
	items: {
		unstyled: 	true,
		height: 	150,
		layout: 	'fit',
		items: 		widgetArticleEdit
	}
});

var widgetArticleSetOffline = new Ext.BoxComponent({
	id: 	'widget-set-offline-article',
	<?php if ($this->art->online) : ?>
		html: 	'<i class="fi-battery-full"></i><span>Artikel abschalten</span>',
	<?php else : ?>
		html: 	'<i class="fi-battery-empty"></i><span>Artikel aktivieren</span>',
	<?php endif; ?>
	listeners: {
		render: function(component) {
			Ext.get('widget-set-offline-article').on('click',function() {
				Ext.Ajax.request({
					url: '<?= $this->url(array('controller' => 'data', 'action' => 'toggleonline'), 'default') ?>',
					success: function(response, opts) {
						var rsp 	= Ext.decode(response.responseText);
						var widget 	= Ext.getCmp('widget-set-offline-article');

						if (rsp.online == 1) {
							widget.update('<i class="fi-battery-full"></i><span>Artikel abschalten</span>');
						} else {
							widget.update('<i class="fi-battery-empty"></i><span>Artikel aktivieren</span>');
						}

						reloadTreeByArt(<?= $this->idart ?>);
						setUnpublished();
					},
					params: {
						idart: <?= $this->idart ?>
					}
				});
			});
		}
	}
});

articleDashboard.add({
	columnWidth: 	1/3,
	baseCls:		'x-plain',
	bodyStyle: 		'padding:0 5px 5px 0',
	cls: 			'moraso-style article-dashboard-widget block_link',
	items: {
		unstyled: 	true,
		height: 	150,
		layout: 	'fit',
		items: 		widgetArticleSetOffline
	}
});

var widgetPublishArticle = new Ext.BoxComponent({
	id: 	'widget-publish-article',
	<?php if ($this->ispublished) : ?>
		html: 	'<i class="fi-checkbox"></i><span>Artikel publiziert</span>',
	<?php else : ?>
		html: 	'<i class="fi-upload"></i><span>Artikel publizieren</span>',
	<?php endif; ?>
	listeners: {
		render: function(component) {
			Ext.get('widget-publish-article').on('click',function() {
				Ext.Ajax.request({
					url: '<?= $this->url(array('controller' => 'data', 'action' => 'startpublishing'), 'default') ?>',
					success: function(response, opts) {
						var widget = Ext.getCmp('widget-publish-article');

						widget.update('<i class="fi-checkbox"></i><span>Artikel publiziert</span>');
					},
					params: {
						idart: <?= $this->idart ?>
					}
				});
			});
		}
	}
});

<?php if ($this->hidePublishing) : ?>
	var widgetPublishArticle = new Ext.BoxComponent({
		id: 	'widget-publish-article',
		html: 	'<i class="fi-upload"></i><span>Artikel publizieren</span>',
	});
<?php endif; ?>

articleDashboard.add({
	columnWidth: 	1/3,
	baseCls:		'x-plain',
	bodyStyle: 		'padding: 0 0 5px 0',
	<?php if ($this->hidePublishing) : ?>
		cls: 			'disabled moraso-style article-dashboard-widget block_link',
	<?php else : ?>
		cls: 			'moraso-style article-dashboard-widget block_link',
	<?php endif; ?>
	items: {
		unstyled: 	true,
		height: 	150,
		layout: 	'fit',
		items: 		widgetPublishArticle
	}
});

var reloadTreeByArt = function(id) {
		var tree = Ext.getCmp('pageview-cattree'); 
		
	var node = tree.getNodeById("idart-" + id);
		
	tree.getLoader().load(node.parentNode, function(n) {
		n.expand(false, false, function() {
			tree.getNodeById(node.attributes.id).expand(false, false);
		});
	});
}

var setUnpublished = function() {
	var b = Ext.getCmp('publish-button');
	b.setIconClass('page-unpublished');
	b.setDisabled(false);
}

var eastPanel = new Ext.Panel({
	layout: 'accordion',
	border: false,
	id: 'page-plugin-accordion',
	layoutConfig: {
		titleCollapse: 		true,
		hideCollapseTool: 	true,
		animate: 			false
	}
});

var east = Ext.getCmp('viewport-east');
east.removeAll();
east.setVisible(true);
east.setAutoScroll(true);
east.setWidth(350);
east.add(eastPanel);
east.expand(false);