<!-- Standard -->
<?php if (count((array) $this->articles) !== 0) : ?>
	<script type="application/x-moraso" src="Cart.Cart:Warenkorb">
		template = checkout
	</script>
<?php else : ?>
	<h2>Ihr Warenkorb ist noch leer!</h2>
<?php endif; ?>