<!-- Standard -->
<?php if (empty($this->files) && Aitsu_Application_Status::isEdit()) : ?>
	<?php return; ?>
<?php endif; ?>
<ul>
<?php foreach ($this->files as $file) : ?>
	<li>
		<a href="/file/<?= $file->idart ?>/<?= $file->filename ?>">
			<?= $file->name; ?>
		</a>
	</li>
<?php endforeach; ?>
</ul>