<!--- mein Konto / Übersicht -->
<script type="application/x-moraso" src="HTML.Content:Content"></script>

<p>Hier kommt ein Modul hin was nur erscheint wenn man eingeloggt ist und eine Übersicht gibt was man hier nun machen kann.</p>