<!--- mein Konto / Übersicht -->
<script type="application/x-moraso" src="HTML.Content:Content"></script>

<ul class="small-block-grid-2">
	<li>
		<h3>Benutzerinfo</h3>
		<script type="application/x-moraso" src="Account.Info:Info"></script>
	</li>
	<li>
		<h3>letzter Login</h3>
		<script type="application/x-moraso" src="Account.LastLogin:LastLogin"></script>
	</li>
</ul>

<h2>persönliche Daten ändern</h2>
<script type="application/x-moraso" src="Account.Form.Change.PersonalData:ChangePersonalData"></script>