{
	region: 'north',
	split: true,
	margins: '5 5 0',
	height: 40,
		minHeight: 40,
		maxHeight: 40,
	layout: 'border',
	items: [{
		region: 'center',
		margins: '0 0 0 0',
		border: false,
		items: new Ext.Toolbar({
			id: 'topToolbarMenu',
			style: 'padding-top: 5px;',
			height: '100%',
			items: [
				<?php echo $this->partial('layout/navigation/top.phtml'); ?>
				<?php echo $this->partial('layout/navigation/languagechooser.phtml'); ?>
				'->',
				{
					text: '<i class="fi-power"></i><span>Logout (<?= \Moraso\User::get('lastname') ?>, <?= \Moraso\User::get('firstname') ?>)</span>',
					listeners: {
						click: function() {
							window.location.href = '<?= $this->url(array('controller' => 'acl', 'action' => 'logout'), 'default') ?>';
						}
					}
				}
			]
		})
	}]
}