{
	region: 'south',
	split: true,
	height: 28,
	minHeight: 28,
	maxHeight: 28,
	margins: '0 5 5',
	bbar: new Ext.ux.StatusBar({
		id: 'basic-statusbar',
		defaultText: '',
		text: '',
		iconCls: 'x-status-valid',
		items: [{
			xtype: 'tbtext',
			id: 'session-clock',
			text: ''
		},
		'<a href="https://bitbucket.org/webtischlerei/moraso-cms" target="_blank">moraso cms</a> <?= Moraso_Status::version(); ?>',
		'-',
		<?php if (\Moraso\Acl::isAllowed('south.area.actually.version')) : ?>
		'<a href="https://bitbucket.org/webtischlerei/moraso-cms" target="_blank">aktuelle Version</a> <?= Moraso_Status::latestVersion(); ?>',
		'-',
		<?php endif; ?>
		'&copy; 2012 - 2014 <a href="http://www.christian-kehres.de" target="_blank">Christian Kehres</a>',
		'-',
		'Mit ♥ programmiert in <a href="http://de.wikipedia.org/wiki/Hoya" target="_blank">Hoya</a>',
		'-',
		'powered by <a href="http://www.aitsu.org" target="_blank">aitsu CMSF</a> <?= Aitsu_Application_Status::version(); ?>',
	]
	})                
}