<form enctype="application/x-www-form-urlencoded" method="post" action="<?php echo $_SERVER['REQUEST_URI']; ?>"> 
	<fieldset>
		<legend>geschützter Bereich</legend> 
 
 		<div class="row">
      		<div class="small-6 columns">
      			<label for="login" class="required">Benutzername</label> 
				<input type="text" name="username" id="login" value="" />
      		</div>

      		<div class="small-6 columns">
      			<label for="password" class="required">Kennwort</label> 
				<input type="password" name="password" id="password" value="" />
      		</div>
      	</div>

      	<div class="row">
	      	<div class="small-12 columns">
				<button name="submit" id="submit" type="submit" class="login">Login</button>
			</div>
		</div>
	</fieldset>	
</form>