<form enctype="application/x-www-form-urlencoded" method="post" action="<?= $_SERVER['REQUEST_URI'] ?>"> 
	<fieldset>
		<legend>geschützter Bereich</legend> 

		<input type="hidden" name="logout" value="1" />

		<p>Sie sind bereits eingeloggt, aber haben anscheind nicht die benötigten Rechte für diesen Bereich!</p>
 
		<button name="submit" id="submit" type="submit">Logout</button>
	</fieldset>
</form>