<?php foreach (Zend_Registry::get('nav') as $pos) : ?>
	<?php if ($pos->id != 'logout' && (!isset($pos->ac) || \Moraso\Acl::isAllowed($pos->ac)) && !$pos->hidden) : ?>
		{
			text: '<i class="fi-<?= $pos->icon ?>"></i><span><?php echo $pos->label; ?></span>',
			margins: '0 15 0 5',
			<?php if (count($pos->pages) > 0) : ?>
				menu: {
					shadow: true,
					items: [
					<?php foreach ($pos->pages as $subPage) : ?>
						<?php if (!isset($subPage->ac) || \Moraso\Acl::isAllowed($subPage->ac)) : ?>
							{
								text: '<i class="fi-<?= $subPage->icon ?>"></i><span><?php echo $subPage->label; ?></span>',
								<?php if (count($subPage->pages) > 0) : ?>
									menu: {
										shadow: true,
										items: [
											<?php foreach ($subPage->pages as $subSubPage) : ?>
											<?php if (!isset($subSubPage->ac) || \Moraso\Acl::isAllowed($subSubPage->ac)) : ?>
											{
												text: '<i class="fi-<?= $subSubPage->icon ?>"></i><span><?php echo $subSubPage->label; ?></span>',
												listeners: {
													click: function() {
														Ext.aitsu.load(['<?php echo $subSubPage->getHref(); ?>'], null, {ajax: 1});
													}
												}									
											},
											<?php endif; ?>
											<?php endforeach; ?>
											{
												hidden:true
											}
										]
									}
								<?php else : ?>
								listeners: {
									click: function() {
										Ext.aitsu.load(['<?php echo $subPage->getHref(); ?>'], null, {ajax: 1});
									}
								}
								<?php endif; ?>
							},
						<?php endif; ?>
					<?php endforeach; ?>
					{
						hidden:true
					}
					]
				}
			<?php else : ?>
				listeners: {
					click: function() {
						Ext.aitsu.load(['<?php echo $pos->getHref(); ?>'], null, {ajax: 1});
					}
				}
			<?php endif; ?>
		},
	<?php endif; ?>
<?php endforeach; ?>