<!-- Standard -->
<section id="list-comments">
	<?php if (count($this->comments) > 0): ?>
		<ul class="no-bullet">        
			<?php foreach ($this->comments as $comment_lvl_2) : ?>
				<?php if (empty($comment_lvl_2['comment']['pingback_url'])) : ?>
					<li class="panel" data-node_id="<?= $comment_lvl_2['node_id'] ?>">
						<strong>
							<?php if (isset($comment_lvl_2['comment']['author_url']) && !empty($comment_lvl_2['comment']['author_url'])) : ?>
								<a href="<?= $comment_lvl_2['comment']['author_url'] ?>" target="_blank"><?= $comment_lvl_2['comment']['author'] ?></a>
							<?php else : ?>
								<?= $comment_lvl_2['comment']['author'] ?>
							<?php endif; ?>
						</strong>

						<br />
						<small>am <?= date('d.m.Y H:i', strtotime($comment_lvl_2['created'])) ?></small> <br />
						<p><?= nl2br($comment_lvl_2['comment']['comment']) ?></p>

						<p><strong>Freifeld 1: </strong> <?= $comment_lvl_2['comment']['free_field_1'] ?></p>

						<?php if ($this->canDelete) : ?>
							<div class="admin_toolbar">
								<ul class="button-group">
									<li><a href="#" class="deleteComment small alert button"><?= Aitsu_Translate::_('delete') ?></a></li>

									<?php if (!$comment_lvl_2['active']) : ?>
										<li><a href="#" class="small success button"><?= Aitsu_Translate::_('approve') ?></a></li>
									<?php endif; ?>
								</ul>
							</div>
						<?php endif; ?>

						<script type="application/x-moraso" src="Comments.Write">
							parent_node_id = <?= $comment_lvl_2['node_id'] ?>
						</script>

						<?php if (isset($comment_lvl_2['children']) && count($comment_lvl_2['children']) > 0): ?>
							<ul class="no-bullet">
								<?php foreach ($comment_lvl_2['children'] as $comment_lvl_3) : ?>                    
									<li class="panel" data-node_id="<?= $comment_lvl_3['node_id'] ?>">
										<strong>
											<?php if (isset($comment_lvl_3['comment']['author_url']) && !empty($comment_lvl_3['comment']['author_url'])) : ?>
												<a href="<?= $comment_lvl_3['comment']['author_url'] ?>" target="_blank"><?= $comment_lvl_3['comment']['author'] ?></a>
											<?php else : ?>
												<?= $comment_lvl_3['comment']['author'] ?>
											<?php endif; ?>
										</strong>
										<small>am <?= date('d.m.Y H:i', strtotime($comment_lvl_3['created'])) ?></small> <br />
										<p><?= nl2br($comment_lvl_3['comment']['comment']) ?></p>

										<?php if ($this->canDelete) : ?>
											<div class="admin_toolbar">
												<ul class="button-group">
													<li><a href="#" class="deleteComment small alert button"><?= Aitsu_Translate::_('delete') ?></a></li>

													<?php if (!$comment_lvl_3['active']) : ?>
														<li><a href="#" class="small success button"><?= Aitsu_Translate::_('approve') ?></a></li>
													<?php endif; ?>
												</ul>
											</div>
										<?php endif; ?>
									</li>
								<?php endforeach; ?>
							</ul>
						<?php endif; ?>
					</li>
				<?php else : ?>
					<li class="panel" data-node_id="<?= $comment_lvl_2['node_id'] ?>">
						<strong>PINGBACK: <a href="<?= $comment_lvl_2['comment']['pingback_url']; ?>" target="_blank"><?= $comment_lvl_2['comment']['author'] ?></a></strong><br />
						<small>am <?= date('d.m.Y H:i', strtotime($comment_lvl_2['created'])) ?></small> <br />
						<p><?= nl2br($comment_lvl_2['comment']['comment']) ?></p>

						<?php if ($this->canDelete) : ?>
							<div class="admin_toolbar">
								<ul class="button-group">
									<li><a href="#" class="deleteComment small alert button"><?= Aitsu_Translate::_('delete') ?></a></li>

									<?php if (!$comment_lvl_2['active']) : ?>
										<li><a href="#" class="small success button"><?= Aitsu_Translate::_('approve') ?></a></li>
									<?php endif; ?>
								</ul>
							</div>
						<?php endif; ?>
					</li>
				<?php endif; ?>
			<?php endforeach; ?>
		</ul>
	<?php else: ?>
		<p>Es sind noch keine Kommentare verfasst worden.</p>
	<?php endif; ?>
</section>