<!-- Standard -->
<div class="clearfix widget">
	<h3>Sub-Navigation</h3>

	<script type="application/x-moraso" src="Navigation.Sub:SubNavigation"></script>
</div>

<div class="clearfix widget">
	<h3>Anmelden</h3>

	<script type="application/x-moraso" src="Login.Status:Login"></script>
</div>

<div class="clearfix widget">
	<h3>Werbeanzeige</h3>

	<script type="application/x-moraso" src="Ad:Werbeanzeige">
		zone_id = 1
	</script>
</div>

<div class="clearfix widget">
	<h3>Kontakt</h3>

	<ul class="vcard">
		<li class="fn">webtischlerei</li>
		<li class="street-address">Von-Kronenfeldt-Str. 20</li>
		<li class="locality">27318 Hoya / Weser</li>
		<li class="email"><a href="#">kontakt@webtischlerei.de</a></li>
	</ul>
</div>

<div class="clearfix widget">
	<h3>Aktuelles</h3>

	<p>Hier kommt eine Artikelliste hin</p>
</div>

<div class="clearfix widget">
	<h3>Referenzen</h3>

	<p>Hier kommt eine Artikelliste hin</p>
</div>