* {
	font-family: 'Source Sans Pro', sans-serif !important;
}

body {
	background-color: #2980b9;
}

h1 {
	color: #2980b9;
	line-height: 1;
	margin-bottom: 1.875rem;
	margin-top: 0;
}

@media only screen {
	h1 {
		font-size: 1.3rem;
	}
}

@media only screen and (min-width: 64.063em) {
	h1 {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 90.063em) {
	h1 {
		font-size: 3rem;
	}
}

form {
	margin-bottom: 1.875rem;
}

span.prefix {
	background-color: #2980b9;
	border: none;
}

span.prefix i {
	color: #ecf0f1;
}

input[type="text"], input[type="password"] {
	border: none;
}

input[type="submit"]:active, input[type="submit"]:focus, input[type="submit"]:hover {
	outline: none;
}

.button {
	background-color: #2980b9;
	margin-bottom: 0;
	color: #ecf0f1;
	font-weight: 300 !important;
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

.button:hover {
	background-color: #3498db;
}

#extra_security {
	display: none;
}

p {
	color: #2980b9;
	font-size: 0.7rem;
	line-height: 1.75;
	margin-bottom: 0;
	margin-top: 0;
}

#loading {
	position: absolute;
	margin-top: 250px;
	left: 50%;
}