<!-- Standard -->
<?php foreach ($this->articles as $article) : ?>
	<article class="list row">
		<div class="small-12 columns">
			<a href="{ref:idart-<?= $article->idart ?>}">
				<h2><?= $article->pagetitle ?></h2>
			</a>
		</div>

		<div class="small-12 columns">
			<a href="{ref:idart-<?= $article->idart ?>}">
				<?= \Moraso\Html\Helper\Image::getHtml($article->idart, $article->mainimage, 1600, 750, 2) ?>
			</a>
		</div>

		<div class="small-9 columns">
			<?= $article->summary ?>
		</div>

		<div class="small-3 text-right columns">
			<script type="application/x-moraso" src="Article.Author">
				idart = <?= $article->idart ?>
			</script>
			
			<script type="application/x-moraso" src="Article.Date.Created">
				idart = <?= $article->idart ?>
			</script>
		</div>
	</article>
<?php endforeach; ?>