<!-- Standard -->
<footer>
	<div class="row">
		<div class="small-12 medium-3 columns">
		Spalte 1
		</div>

		<div class="small-12 medium-3 columns">
		Spalte 2
		</div>

		<div class="small-12 medium-3 columns">
		Spalte 3
		</div>

		<div class="small-12 medium-3 columns">
			<script type="application/x-moraso" src="Navigation:meta">
				template = meta
			</script>
		</div>
	</div>

	<div id="footer-info-bar">
		<div class="row">
			<div class="small-12 medium-6 columns">
				<span>&copy 2014 &mdash; <a href="https://www.xing.com/profile/Christian_Kehres">Christian Kehres</a></span>
			</div>

			<div class="small-12 medium-6 text-right columns">
				<span>Design & Umsetzung <a href="https://www.xing.com/profile/Christian_Kehres">Christian Kehres</a></span>
			</div>
		</div>
	</div>
</footer>