<!-- Standard -->
<div id="ytplayer_<?= $this->index ?>"></div>

<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";

    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;

    function onYouTubePlayerAPIReady() {
        player = new YT.Player('ytplayer_<?= $this->index ?>', {
            height: '<?= $this->height ?>',
            width: '<?= $this->width ?>',
            videoId: '<?= $this->videoId ?>'
        });
    }
</script>