<!--- Shop / Produktübersicht -->
<script type="application/x-moraso" src="HTML.Content:Content"></script>

<script type="application/x-moraso" src="List.Articles:Produktübersicht">
	template = shop_overview
</script>