$body-font-color: rgb(34, 34, 34);

$primary-color: rgb(41, 128, 185);

$light-color: rgb(245, 245, 245);

$body-font-family: 'Source Sans Pro', sans-serif;

/* Top Bar */
$topbar-bg: #FFF;
$topbar-height: 40px;
$topbar-margin-bottom: 30px;

$topbar-link-font-size: rem-calc(20);

$topbar-link-color: $body-font-color;
$topbar-link-color-hover: $primary-color;
$topbar-link-color-active: $primary-color;
$topbar-link-color-active-hover: $topbar-bg;

$topbar-link-bg-hover: $topbar-bg;
$topbar-link-bg-active: $topbar-bg;
$topbar-link-bg-active-hover: $topbar-bg;

$topbar-dropdown-link-color: $body-font-color;

$topbar-dropdown-toggle-color: $body-font-color;
$topbar-dropdown-toggle-alpha: 1;

$topbar-menu-link-color-toggled: $topbar-bg;
$topbar-menu-icon-color-toggled: $topbar-bg;

/* Breadcrumbs */
$crumb-bg: transparent;
$crumb-border-color: transparent;
$crumb-border-size: 0;