@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

$info-bar-height: rem-calc(45);

#info-bar {
	height: $info-bar-height;
	background-color: $primary-color;

	ul {
		&.sm-list {
			margin-bottom: 0;

			li {
				a {
					display: block;
					color: #FFF;
					font-size: rem-calc(12);
					line-height: $info-bar-height;
				}
			}
		}
	}
}

$logo-distance: 17px;

#nav-bar {
	background-color: #FFF;

	.logo {
		margin-top: $logo-distance;
		margin-bottom: 0;

		@media #{$medium-up} {
			@include calc(margin-bottom, $logo-distance + 1);

			img {
				@include calc(max-height, $topbar-height + ($topbar-margin-bottom * 2) - ($logo-distance * 2));
			}
		}
	}

	.top-bar {
		margin-top: $topbar-margin-bottom;

		.title-area {
			background-color: $primary-color;
		}

		.top-bar-section {
			ul {
				background-color: #FFF;

				li {
					margin-left: rem-calc(10);

					.dropdown {
						box-shadow: 0 2px 7px darken($light-color, 20%);
						border-top: 2px solid $primary-color;
						margin-top: -10px;

						li {
							margin-left: 0;

							&:hover {
								a {
									background-color: $light-color;
								}
							}

							a {
								text-transform: inherit;
								font-size: rem-calc(14);
							}
						}
					}

					a {
						text-transform: uppercase;

						> span {
							display: block;
							line-height: 1;
							font-size: 12px;
							color: darken($light-color, 25%);
							margin-top: -8px;
							font-weight: 300;
						}
					}
				}
			}
		}		
	}
}

#headline-bar {
	background-color: $light-color;

	h1 {
		font-size: rem-calc(22);
		margin: 0;
		padding: rem-calc(10) 0;
	}
}

#page_wrapper {
	margin-top: rem-calc(40);
}

footer {
	border-top: 4px solid $primary-color;
	padding-top: rem-calc(40);
	margin-top: rem-calc(70);
}

$footer-info-bar-height: rem-calc(35);

#footer-info-bar {
	margin-top: rem-calc(40);
	height: $footer-info-bar-height;
	background-color: $primary-color;

	span {
		line-height: $footer-info-bar-height;
		color: #FFF;
		font-size: rem-calc(12);
	}
}

article {
	h1 {
		text-transform: uppercase;
		color: $primary-color;
	}

	&.list {
		h2 {
			font-size: rem-calc(30);
			margin-top: 0;
			margin-bottom: 0;
			text-transform: uppercase;
			line-height: 1;

		}

		img {
			margin-top: rem-calc(15);
			margin-bottom: rem-calc(15);
		}

		margin-bottom: rem-calc(60) !important;
	}
}

aside {
	.widget {
		margin-bottom: rem-calc(40);
		h3 {
			font-size: rem-calc(20);
			font-weight: 300;
			line-height: 1;
			margin: 0;
			display: block;
			margin-bottom: rem-calc(10);
			text-transform: uppercase;
		}
	}

	.vcard {
		width: 100%;
	}
}

.breadcrumbs {
	padding: rem-calc(10) 0;
}