<!-- Standard -->
<table id="memberslist">
	<thead>
		<tr>
			<th></th>
			<th>Vorname</th>
			<th>Nachname / Firma</th>
			<th>Postleitzahl</th>
			<th>Ort</th>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($this->members as $member) : ?>
			<tr data-id="<?= $member['id'] ?>">
				<td data-col="passfoto">
					<?php if (!empty($member['passfoto'])) :  ?>
						<object style="max-height: 100px;" data="data:image/png;base64,<?= $member['passfoto'] ?>"></object>
					<?php endif; ?>
				</td>
				<td data-col="vorname"><?= $member['vorname'] ?></td>
				<td data-col="nachname"><?= $member['nachname'] ?></td>
				<td data-col="postleitzahl"><?= $member['postleitzahl'] ?></td>
				<td data-col="ort"><?= $member['ort'] ?></td>
			</tr>
		<?php endforeach; ?>
	</tbody>
</table>