<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

		<title>moraso | Administrationsoberfläche</title>

		<link type="text/css" rel="stylesheet" href="<?= $this->baseUrl('/js/ext-3.4.0/resources/css/ext-all-notheme.css') ?>" />
		<link type="text/css" rel="stylesheet" href="<?= $this->baseUrl('/js/ext-3.4.0/resources/css/xtheme-gray.css') ?>" />
		<link type="text/css" rel="stylesheet" href="<?= $this->baseUrl('/js/ext-3.4.0/extensions/ext.ux.plupload.css') ?>" />
		<link type="text/css" rel="stylesheet" href="<?= $this->baseUrl('/css/extjs-aitsu.css') ?>" />
		<link type="text/css" rel="stylesheet" href="<?= $this->baseUrl('/css/extjs-moraso.css') ?>" />	
		<link type="text/css" rel="stylesheet" href="<?= $this->baseUrl('/css/foundation-icons.css') ?>">
		<link type="text/css" rel="stylesheet" href="<?= $this->baseUrl('/js/jquery/jcrop/css/jquery.Jcrop.css') ?>" />

		<link type="text/css" rel="stylesheet" href="<?= $this->baseUrl('/css/font-awesome.css') ?>" />

		<script type="text/javascript" src="<?= $this->baseUrl('/editors/ckeditor/ckeditor.js') ?>"></script>
		<script type="text/javascript" src="<?= $this->baseUrl('/editors/ckeditor/config.js') ?>"></script>
		<script type="text/javascript" src="<?= $this->baseUrl('/js/vendor/jquery.js') ?>"></script>
		<script type="text/javascript" src="<?= $this->baseUrl('/js/ext-3.4.0/adapter/jquery/ext-jquery-adapter.js') ?>"></script>
		<script type="text/javascript" src="<?= $this->baseUrl('/js/ext-3.4.0/adapter/ext/ext-base.js') ?>"></script>
		<script type="text/javascript" src="<?= $this->baseUrl('/js/ext-3.4.0/ext-all.js') ?>"></script>   
		<script type="text/javascript" src="<?= $this->baseUrl('/js/ext-3.4.0/ux-all.js') ?>"></script>
		<script type="text/javascript" src="<?= $this->baseUrl('/js/ext-3.4.0/ext-aitsu.js') ?>"></script>
		<script type="text/javascript" src="<?= $this->baseUrl('/js/plupload/js/plupload.full.js') ?>"></script>
		<script type="text/javascript" src="<?= $this->baseUrl('/js/ext-3.4.0/extensions/ext.ux.plupload.js') ?>"></script>
		<script type="text/javascript" src="<?= $this->baseUrl('/js/ext-3.4.0/extensions/ext.ux.linkField.js') ?>"></script>
		<script type="text/javascript" src="<?= $this->baseUrl('/js/jquery/jcrop/js/jquery.Jcrop.min.js') ?>"></script>

		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>

		<script type="text/javascript">
			Ext.onReady(function() {
				Ext.QuickTips.init();

				Ext.getBody().on("contextmenu", Ext.emptyFn, null, {preventDefault: true});
				Ext.state.Manager.setProvider(new Ext.state.CookieProvider());

				var registry = Ext.aitsu.registry();

				var resetUI = function() {
					var dim = registry.get('center-south-dim');
					if (typeof(dim) !== 'undefined' && dim.isBig) {
						Ext.getCmp('viewport-inner-centerarea').setVisible(true);
						Ext.getCmp('center-south').setHeight(dim.height);
						if (dim.westIsVisible) {
							Ext.getCmp('viewport-west').setVisible(true);
						}
						dim.isBig = false;
					}
				};

				Ext.apply(Ext.DatePicker.prototype, {
					format: "Y-m-d"
				});

				Ext.apply(Ext.ux.form.LinkField.prototype, {
					dataSource: "<?= $this->url(array('controller' => 'data', 'action' => 'treesource'), 'default') ?>",
					cancelButtonText: "Abbrechen",
					selectButtonText: "Auswählen"
				});

				var viewport = new Ext.Viewport({
					layout: 'border',
					id: 'viewport',
					items: [
						<?= $this->partial('layout/regions/north.phtml') ?>,
						<?= $this->partial('layout/regions/south.phtml') ?>,
						<?= $this->partial('layout/regions/west.phtml') ?>,
						{
							region: 'center',
							id: 'viewport-centerarea',
							unstyled: true,
							layout: 'border',
							split: false,
							items: [
								{
									region: 'center',
									id: 'viewport-inner-centerarea',
									unstyled: true,
									layout: 'border',
									split: true,
									items: [
										<?= $this->partial('layout/regions/center.phtml') ?>,
										<?= $this->partial('layout/regions/east.phtml') ?>
									]
								},
								<?= $this->partial('layout/regions/center-south.phtml') ?>
							]
						}]
				});

				Ext.getCmp('center-south').setVisible(false);

				<?= $this->partial('layout/js/sessionManagement.phtml') ?>

				<?= $this->layout()->content ?>
			});
		</script> 
	</head> 

	<body>
		<!-- filled by ExtJS -->
	</body> 
</html>