var center = Ext.getCmp('viewport-center');
center.removeAll();

var assetsGrid = new Ext.grid.GridPanel({
    id: 'assetsGrid',
    title: '<?php echo Aitsu_Translate :: translate('Assets'); ?>',
    store: new Ext.data.JsonStore({
        autoDestroy: true,
        url: '<?php echo $this->url(array('paction' => 'store')); ?>',
        remoteSort: false,
        storeId: 'assetstore',
        root: 'assets',
        fields: [{
	        name: 'id',
                type: 'int'
	    }, {
                name: 'headline'
            }, {
	        name: 'active',
                type: 'int'
	    }, {
	        name: 'created',
                type: 'date',
                dateFormat: 'Y-m-d H:i:s'
	    }, {
	        name: 'lastmodified',
                type: 'date',
                dateFormat: 'Y-m-d H:i:s'
	    }]
    }),
    columns: [
        {dataIndex: 'id', header: '<?php echo Aitsu_Translate :: translate('#'); ?>', width: 4, sortable: true, menuDisabled: true},
        {dataIndex: 'created', header: '<?php echo Aitsu_Translate :: translate('created'); ?>', width: 16, sortable: true, menuDisabled: true, renderer: Ext.util.Format.dateRenderer('d.m.Y H:i:s')},
        {dataIndex: 'lastmodified', header: '<?php echo Aitsu_Translate :: translate('modified'); ?>', width: 16, sortable: true, menuDisabled: true, renderer: Ext.util.Format.dateRenderer('d.m.Y H:i:s')},
        {dataIndex: 'headline', header: '<?php echo Aitsu_Translate :: translate('Headline'); ?>', sortable: true, menuDisabled: true},
        {
            dataIndex: 'active',
            sortable: false,
            menuDisabled: true,
            width: 4,
            renderer: function(val) {
                if (val == 0) {
                    return '<center><span class="page-offline" style="display: block;" /></center>';
                } else {
                    return '<center><span class="page-online" style="display: block;" /></center>';
                }
            }
        }
    ],
    viewConfig: {
        forceFit: true,
        autoFill: true
    },
    border: false,
    tbar: {
        items: [{
            tooltip: '<?php echo Aitsu_Translate :: translate('Refresh list'); ?>',
            iconCls: 'tb-refresh',
            handler: function(b, e) {    
                assetsGrid.getStore().load({
                    callback: Ext.aitsu.mask(true),
                    callback: function(r, options, success) {
                        Ext.aitsu.mask(false);
                    }
                });
            }
        }, {
            tooltip: '<?php echo Aitsu_Translate :: translate('Add new asset'); ?>',
	    iconCls: 'tb-add',
	    handler: function(b, e) {
                Ext.aitsu.load(['<?php echo $this->url(array('paction' => 'edit')); ?>']);
            }
        }, {
            tooltip: '<?php echo Aitsu_Translate :: translate('Config Assets-Plugin'); ?>',
	    iconCls: 'edit',
	    handler: function(b, e) {
                Ext.aitsu.load(['<?php echo $this->url(array('paction' => 'config')); ?>']);
            }
        }]
    },
    listeners: {
        render: {
            fn: function(){
                this.getStore().load();
            }
        },
        rowclick: function(grid, rowIndex, asset) {
            var rec = grid.getStore().getAt(rowIndex);
            Ext.aitsu.load(['<?php echo $this->url(array('paction' => 'edit')); ?>'], null, {
                id: rec.get('id')
            });
	},
        rowcontextmenu: function(grid, rowIndex, asset) {
            this.getSelectionModel().selectRow(rowIndex);
            var record = this.getStore().getAt(rowIndex);
            
            var menu = new Ext.menu.Menu();
                        
            menu.addItem({
                text: '<?php echo $this->translate('Edit'); ?>',
		iconCls: 'edit',
		handler: function() {
                    var rec = grid.getStore().getAt(rowIndex);
                    Ext.aitsu.load(['<?php echo $this->url(array('paction' => 'edit')); ?>'], null, {
                        id: record.get('id')
                    });				 			         
		}
            });
            
            menu.addItem({
                text: '<?php echo $this->translate('Delete'); ?>',
		iconCls: 'delete',
		handler: function() {
                    Ext.MessageBox.show({
                        title: '<?php echo $this->translate('Delete asset'); ?>',
                        msg: '<?php echo $this->translate('Are you sure to delete the selected asset?'); ?>',
			buttons: Ext.MessageBox.YESNO,
			fn: function(result) {
                            if (result == 'yes') {
                                Ext.Ajax.request({
                                    url: '<?php echo $this->url(array('paction' => 'delete')); ?>',
				    success: function(response, opts) {
                                        var rsp = Ext.decode(response.responseText);
				        if (rsp.success) {
                                            Ext.aitsu.msg('<?php echo Aitsu_Translate :: translate('Asset removed'); ?>', '<?php echo Aitsu_Translate :: translate('The selected asset has been removed.'); ?>');
                                             grid.getStore().load(); 
				        }
				    },
				    params: {
                                        id: record.get('id')
                                    }
				});					 			
                            }
                        }
                    });			 			         
		}
            });
            
            menu.addItem('-');
             
            if (record.get('active') == 0) {
                menu.addItem({
                    text: '<?php echo $this->translate('Activate'); ?>',
                    iconCls: 'cm-setonline',
                    handler: function() {
                        Ext.MessageBox.show({
                            title: '<?php echo $this->translate('Activate asset'); ?>',
                            msg: '<?php echo $this->translate('Are you sure to activate the selected asset?'); ?>',
                            buttons: Ext.MessageBox.YESNO,
                            fn: function(result) {
                                if (result == 'yes') {
                                    Ext.Ajax.request({
                                        url: '<?php echo $this->url(array('paction' => 'activate')); ?>',
                                        success: function(response, opts) {
                                            var rsp = Ext.decode(response.responseText);
                                            if (rsp.success) {
                                                Ext.aitsu.msg('<?php echo Aitsu_Translate :: translate('Asset activated'); ?>', '<?php echo Aitsu_Translate :: translate('The selected asset has been activated.'); ?>');
                                                grid.getStore().load(); 
                                            }
                                        },
                                        params: {
                                            id: record.get('id')
                                        }
                                    });					 			
                                }
                            }
                        });			 			         
                    }
                });
            } else {
                menu.addItem({
                    text: '<?php echo $this->translate('Deactivate'); ?>',
                    iconCls: 'cm-setoffline',
                    handler: function() {
                        Ext.MessageBox.show({
                            title: '<?php echo $this->translate('Deactivate asset'); ?>',
                            msg: '<?php echo $this->translate('Are you sure to deactivate the selected asset?'); ?>',
                            buttons: Ext.MessageBox.YESNO,
                            fn: function(result) {
                                if (result == 'yes') {
                                    Ext.Ajax.request({
                                        url: '<?php echo $this->url(array('paction' => 'deactivate')); ?>',
                                        success: function(response, opts) {
                                            var rsp = Ext.decode(response.responseText);
                                            if (rsp.success) {
                                                Ext.aitsu.msg('<?php echo Aitsu_Translate :: translate('Asset deactivated'); ?>', '<?php echo Aitsu_Translate :: translate('The selected asset has been deactivated.'); ?>');
                                                grid.getStore().load(); 
                                            }
                                        },
                                        params: {
                                            id: record.get('id')
                                        }
                                    });					 			
                                }
                            }
                        });			 			         
                    }
                });
            }
            
            menu.showAt(asset.getXY());
        }
    }
});

center.add(assetsGrid);
	
Ext.getCmp('viewport').doLayout();