<!-- Standard -->
<nav class="breadcrumbs" itemprop="breadcrumb">
	<a rel="home" href="/">Home</a>
	<?php foreach ($this->breadcrumbs as $breadcrumb) : ?>
		 <a href="<?= $breadcrumb->url ?>"><?= $breadcrumb->name ?></a>
	<?php endforeach; ?>
</nav>