<!-- Shop / Produktübersicht -->
<div class="row">
	<?php foreach ($this->articles as $article) : ?>
		<div class="large-6 columns">
			<a href="{ref:idart-<?= $article->idart ?>}"><h3><?= $article->pagetitle ?></h3></a>
			<p class="summary"><?= $article->summary ?></p>

			<?= \Moraso\Html\Helper\Image::getHtml($article->idart, $article->mainimage, 800, 225, 2, array('subline' => $article->pagetitle)); ?>

			<form method="post" action="{ref:idcat-<?= Moraso_Config::get('shop.structure.category.cart') ?>}" class="custom">
				<input type="hidden" name="form_listener" value="morasoCartForm" />
				<input type="hidden" name="form_action" value="addArticleToCart" ?>
				<input type="hidden" name="idart" value="<?= $article->idart ?>" ?>

				<div class="row collapse">
					<div class="small-9 columns">
						<select name="qty">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div class="small-3 columns">
						<input type="submit" class="button postfix right" value="einpacken" />
					</div>
				</div>
			</form>

		</div>
	<?php endforeach; ?>
</div>

<?php if ($this->pages > 1) : ?>
	<ul class="pagination">
		<?php for ($p = 1; $p <= $this->pages; $p++) : ?>
			<li class="<?= $p == $this->currentPage ? 'active' : '' ?>">
				<a href="{ref:idart-<?= $this->idart ?>}?page=<?= $p; ?>">
					Page <?= $p; ?>
				</a>
			</li>
		<?php endfor; ?>
	</ul>
<?php endif; ?>